nav {
  z-index: 1;
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ec8c6f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.nav_title {
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 2px 2px 0px #569895;
}

nav > ul {
  display: flex;
  flex-direction: row;
}

nav li {
  text-shadow: 1px 1px 0px #569895;
}

nav li:first-of-type {
  margin-right: 2rem;
}

nav a {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 800;
}

.active {
  text-decoration: underline;
  font-style: italic;
}

@media screen and (max-width: 1599px) {
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 899px) {
}

@media screen and (max-width: 649px) {
}

@media screen and (max-width: 539px) {
  nav {
    justify-content: center;
    top: auto;
    bottom: 0;
  }

  .nav_title {
    display: none;
  }
}
