.today_container {
  background-color: #fff;
  border-radius: 1rem;
  width: 27rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.today_container > h1 {
  font-size: 2rem;
  margin: 1rem 0;
  color: #111;
}

.today_container > p {
  color: #777;
}

@media screen and (max-width: 949px) {
  .today_container {
    width: 22rem;
  }
  .today_container > h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 799px) {
  .today_container {
    width: 100%;
  }
  .today_container > h1 {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 539px) {
  .today_container > h1 {
    font-size: 1.3rem;
  }
}
